.title {
  font-size: 34px;
  font-weight: bold;
}


.toolbar {
  padding: 40px 20px 40px 20px;
}

.settings {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  > * {
    margin: 0 10px;
  }

}

.select {
  height: 50px;
  display: flex;
  align-items: center;
}

.size {
  min-width: unset;
  width: 100px;
}

.difficulty {
  width: 140px;
}
