.title {
  font-size: 2rem;
  font-weight: bold;
}

.stats {
  display: flex;
  align-items: center;
  gap: 0.1rem;

  svg {
    translate: 0 -2px;
  }
}

.toolbar {
  padding: 40px 20px 40px 20px;
}

.toolbar,
.progress-bar {
  flex: 0 0 auto;
}

.settings {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select {
  translate: 0 10px;

  &.size {
    width: 100px;
  }

  &.difficulty {
    width: 140px;
  }
}

.prevent-select {
  user-select: none;
}

.spacer {
  flex: 1 1 auto;
}

// ------------------ Mobile ------------------
@media (max-width: 600px) {
  .toolbar {
    padding: 25px 5px 10px 0;
    margin-bottom: 0.6rem;
  }

  .title {
    font-size: 1rem;
  }

  .settings {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    transform: scale(0.85);
    transform-origin: top;
    translate: -10px 2px;
  }

  .select {
    &.size {
      width: 6rem;
    }

    &.difficulty {
      width: 8rem;
    }
  }

}
