
.toolbar {
  padding: 40px 20px 40px 20px;
  justify-content: center;
  display: flex;
  align-items: center;

  > * {
    margin: 0 10px;
  }

}

.select {
  height: 50px;
  display: flex;
  align-items: center;
}

.size {
  min-width: unset;
  width: 100px;
}

.difficulty {
  width: 140px;
}
