.puzzle-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzle-row {
  display: flex;
  margin: 0.03rem;
}

.puzzle-col {
  display: flex;
  margin: 0.05rem;
}

.puzzle {
  //display: grid;
  //grid-template-columns: repeat(var(--cols), 1.25rem);
  //grid-template-rows: repeat(var(--rows), 1.25rem);
//  border: 2px solid black;
}

.field {
  width:1.25rem;
  height: 1.25rem;
  border-radius: 0;
  background-color: AccentColorText;

  &.right-margin {
    margin-right: 0.3rem;
  }

  &.bottom-margin {
    margin-bottom: 0.3rem;
  }
}
