.puzzle-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  translate: -7.5rem;
}

.colHints {
  align-items: flex-end;
  translate: 15rem;
  width: 1.25rem;

  .colHints-col {
    flex-direction: column;
    text-align: center;
  }

  .colHints-col-num {
    width: 1.25rem;
  }

  .right-margin {
    margin-right: 0.34rem;
  }
}

.rowHints-container {
  width: 15rem;
  min-width: 15rem;
  display: flex;
  justify-content: flex-end;
}

.rowHints {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .rowHints-num {
    width: 1rem;
    text-align: center;
  }
}

.puzzle-row {
  display: flex;
  margin: 0.03rem;
}

.puzzle-col {
  display: flex;
  margin: 0.05rem;
}

.puzzle {
}

.no-selection {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.field {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 0;
  background-color: AccentColorText;

  &.right-margin {
    margin-right: 0.3rem;
  }

  &.bottom-margin {
    margin-bottom: 0.3rem;
  }
}

.filled-field {
  background-color: black;
}

.completed-hint {
  background-color: aquamarine;
}
