.puzzle-container,
.puzzle-container * {
  box-sizing: border-box;
}

.puzzle-container {
  display: grid;
  grid-template-areas:
    ". col-hints"
    "row-hints puzzle";
  grid-template-columns: auto repeat(var(--cols), var(--cell-size));
  grid-template-rows: auto repeat(var(--rows), var(--cell-size));
  justify-content: center;
  align-items: start;
  margin-top: 2rem;
  --cell-size: 1.25rem;
}

//////////////////////////////////////////////////////////////////////////////////////////
.col-hints {
  grid-area: col-hints;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  justify-items: stretch;
  align-items: end;
  gap: 2px;

  .hint-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .hint-num {
    width: 100%;
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    border: 1px solid transparent;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
.row-hints {
  grid-area: row-hints;
  display: grid;
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  justify-items: end;
  align-items: center;
  gap: 2px;

  .hint-row {
    display: flex;
  }

  .hint-num {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
.puzzle-grid {
  grid-area: puzzle;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  gap: 2px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  text-align: center;
  font-size: var(--cell-size);
  background-color: AccentColorText;
  user-select: none;

  &.filled-field {
    background-color: black;
  }
}


.right-sep {
  border-right: 2px solid black;
}

.bottom-sep {
  border-bottom: 2px solid black;
}

.bottom-sep-row-hints .hint-num:nth-child(n) {
  border-bottom: 2px solid black;
}

.completed-hint {
  background-color: aquamarine;
}
