@if (PUZZLE) {
  <div class="spacer"></div>

  <mat-progress-bar class="progress-bar" mode="determinate" [value]="PROGRESS"></mat-progress-bar>

  <div class="puzzle-wrapper">
    <div class="puzzle-container"
         [style.--rows]="PUZZLE.grid.length"
         [style.--cols]="PUZZLE.grid.length > 0 ? PUZZLE.grid[0].length : 0">

      <!-- Column Hints -->
      <div class="col-hints">
        @for (colNum of PUZZLE.colNums; let colIndex = $index; track colIndex) {
          <div class="hint-col"
               [ngClass]="{'completed-hint': colIsCompleted[colIndex],'right-sep': (colIndex + 1) % 5 == 0 && colIndex + 1 !== PUZZLE.grid.length}">
            @for (num of colNum; let i = $index; track i) {
              <div class="hint-num prevent-select">{{ num }}</div>
            }
          </div>
        }
      </div>

      <!-- Row Hints -->
      <div class="row-hints">
        @for (rowNums of PUZZLE.rowNums; let rowIndex = $index; track rowIndex) {
          <div class="hint-row"
               [ngClass]="{'completed-hint': rowIsCompleted[rowIndex], 'bottom-sep-row-hints': (rowIndex + 1) % 5 == 0 && rowIndex + 1 !== PUZZLE.grid.length}">
            @for (num of rowNums; let i = $index; track i) {
              <div class="hint-num prevent-select">{{ num }}</div>
            }
          </div>
        }
      </div>

      <!-- Puzzle Grid -->
      <div class="puzzle-grid" (touchmove)="onTouchMove($event)">
        @for (row of PUZZLE.grid; let rowIndex = $index; track rowIndex) {
          @for (cell of row; let colIndex = $index; track colIndex) {
            <div class="cell prevent-select"
                 [ngClass]="{
                 'right-sep': (colIndex + 1) % 5 == 0 && colIndex + 1 !== PUZZLE.grid.length,
                 'bottom-sep': (rowIndex + 1) % 5 == 0 && rowIndex + 1 !== PUZZLE.grid.length,
                 'filled-field': GRID[rowIndex][colIndex].state === CELL_STATE.FILLED
               }"
                 (mousedown)="onMouseDown(rowIndex, colIndex, $event)"
                 (mouseup)="onMouseUp(rowIndex, colIndex, $event)"
                 (mousemove)="onMouseOver(rowIndex, colIndex, $event)"
                 [attr.data-row]="rowIndex"
                 [attr.data-col]="colIndex"
            >
              {{ GRID[rowIndex][colIndex].state === CELL_STATE.EMPTY ? "X" : "" }}
            </div>
          }
        }
      </div>
    </div>
  </div>

  <mat-button-toggle-group [(ngModel)]="TOUCH_MODE" class="touch-mode-toggle" appearance="standard">
    <mat-button-toggle [value]="CELL_STATE.FILLED">FILL</mat-button-toggle>
    <mat-button-toggle [value]="CELL_STATE.EMPTY">EMPTY</mat-button-toggle>
    <mat-button-toggle [value]="CELL_STATE.UNKNOWN">CLEAR</mat-button-toggle>
  </mat-button-toggle-group>
}
