:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: 0;
}

.puzzle-wrapper {
  flex: 1 1 auto;
  min-height: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.puzzle-container,
.puzzle-container * {
  box-sizing: border-box;
  touch-action: none;
}

.puzzle-container {
  display: grid;
  grid-template-areas:
    ". col-hints"
    "row-hints puzzle";
  justify-content: center;
  align-items: start;
  margin-top: 0.5rem;
}

//////////////////////////////////////////////////////////////////////////////////////////
.col-hints {
  grid-area: col-hints;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  justify-items: stretch;
  align-items: end;
  gap: 2px;

  .hint-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .hint-num {
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.8 * var(--cell-size));
    border: 1px solid transparent;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
.row-hints {
  grid-area: row-hints;
  display: grid;
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  justify-items: end;
  align-items: center;
  gap: 2px;

  .hint-row {
    display: flex;
  }

  .hint-num {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.8 * var(--cell-size));
    border: 1px solid transparent;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
.puzzle-grid {
  grid-area: puzzle;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--cell-size));
  grid-template-rows: repeat(var(--rows), var(--cell-size));
  gap: 2px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.5 * var(--cell-size));
  background-color: var(--mat-sys-surface);
  user-select: none;

  &.filled-field {
    background-color: black;
  }
}

.right-sep {
  border-right: 2px solid var(--mat-sys-primary);
}

.bottom-sep {
  border-bottom: 2px solid var(--mat-sys-primary);
}

.bottom-sep-row-hints .hint-num:nth-child(n) {
  border-bottom: 2px solid var(--mat-sys-primary);
}

.touch-mode-toggle {
  display: none;
}

.undo-redo-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 2.2rem;
  gap: 0.2rem;

  .undo-redo-button {
    scale: 1.2;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
.completed-hint {
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
}

.prevent-select {
  user-select: none;
}

@media (max-width: 600px) {

  .touch-mode-toggle {
    display: inline-flex;
    align-self: center;
    margin-top: 2rem;
  }

  .touch-mode-toggle-button {
    width: 10rem;
  }

  ::ng-deep .mat-button-toggle-checked {
    background-color: inherit !important;
    color: inherit !important;
  }

  .puzzle-grid, .row-hints, .col-hints {
    gap: unset;
  }

  .undo-redo-container {
    margin-right: 2rem;
    gap: 0.5rem;

    .undo-redo-button {
      scale: 1.2;
    }
  }

}
